{
  acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

internal.YOUR_DOMAIN {
  reverse_proxy http://127.0.0.1:3000
}

portainer.internal.YOUR_DOMAIN {
  reverse_proxy http://127.0.0.1:9000
}

filebrowser.internal.YOUR_DOMAIN {
  reverse_proxy http://127.0.0.1:8080
}

tsdproxy.internal.YOUR_DOMAIN {
  reverse_proxy http://127.0.0.1:8081
}

ports.internal.YOUR_DOMAIN {
  reverse_proxy http://127.0.0.1:56789
}

it-tools.internal.YOUR_DOMAIN {
  reverse_proxy http://127.0.0.1:8082
}

# Template for adding additional services:
# SERVICE_NAME.internal.YOUR_DOMAIN {
#   reverse_proxy http://127.0.0.1:HOST_PORT {
# }
